<!DOCTYPE html>
<html ng-app='redditApp'>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css' media='screen' rel='stylesheet'>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body ng-controller='redditCtrl'>

    <div class='navbar navbar-default navbar-fixed-top'>
      <a class='navbar-brand'>Reddit Clone</a>
      <ul class='nav navbar-nav'>
        <li class='nav-item'><a href='#' class='nav-link' ng-click='submitPost()'><span class='glyphicon glyphicon-plus'></span> Submit Post</a></li>
        <li class='nav-item'>
          <form class='navbar-form' role='search'>
            <input type='text' class='form-control' placeholder='Search'>
          </form>
        </li>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'>Sort By <span></span><span class='glyphicon glyphicon-menu-down'></span></a>
          <ul class='dropdown-menu'>
            <li><a href='#'>Votes</a></li>
            <li><a href='#'>Date</a></li>
            <li><a href='#'>Title</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class='row'>
      <div class='col-md-8 col-md-offset-1 newPost' ng-show='newPost'>
        <p><label for='title'>Title</label><br>
        <input type='text' placeholder='title' name='title'><br></p>
        <p><label for='author'>Author</label><br>
        <input type='text' placeholder='author' name='author'><br></p>
        <p><label for='imageurl'>Image URL</label><br>
        <input type='text' placeholder='imageurl' name='imageurl'><br></p>
        <p><label for='description'>Description</label><br>
        <input type='textarea' name='description'><br></p>
        <p><button>Submit Post</button></p>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-10 col-md-offset-1 postSummary' ng-repeat='post in posts'>
        <div class='col-md-2 imageDiv'><img ng-src='{{ post.image }}'></div>
        <div class='col-md-10'>
          <p class='titleP'>{{ post.title }} |
            <span class='glyphicon glyphicon-arrow-up' ng-click='upvote(post)'></span>
            <span class='glyphicon glyphicon-arrow-down' ng-click='downvote(post)'></span>
            {{ post.votes }}
          </p>
          <p style='text-align:right' class='byliner'>By {{ post.author }}</p>
          <p style='font-size:13px'>{{ post.text }}</p>
          <p>
            <span class='glyphicon glyphicon-calendar'></span> {{ post.posted }}
            | <span class='glyphicon glyphicon-comment'></span> {{ post.comments }} comments
            | <span class='glyphicon glyphicon-pencil'></span> Add comment
          </p>
        </div>
      </div>
    </div>

    <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>
    <script type='text/javascript' src='script.js'></script>
  </body>
</html>
