body {
  padding-top: 70px;
}

input {
  width: 300px;
}

.postSummary {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dddddd;
}

.byliner {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.imageDiv {
  text-align: center;
}
